@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-one: #8261ee;
  --color-two: #ff589e;
  --color-text: #1e1e1e;
  --font: "Raleway", sans-serif;
}

html {
  overflow-x: hidden; /* Turn Off Scroll */
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: var(--font);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Button */

.button {
  display: inline-block;
  padding: 9px 25px;
  border-radius: 45px;
  background-color: #fff;
  color: var(--color-text);
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  border: none;
}

.button1 {
  background-color: var(--color-two);
  color: #fff;
}

.button1:hover {
  background-color: var(--color-one);
  color: #fff;
}

.button2 {
  background-color: var(--color-one);
  color: #fff;
}

.button2:hover {
  background-color: var(--color-two);
  color: #fff;
}
/* End Button */

/* Box Head */

.box-head {
  text-align: center;
}

.box-head .inner-title {
  font-size: 28px;
  margin-bottom: 15px;
}

.box-head .inner-desc {
  font-size: 15px;
  color: #777;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* End Box Head */
