/* Header */

.header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  border-radius: 45px;
  background-color: #fff;
}

.header .inner-logo img {
  width: auto;
  height: 30px;
}

.header .inner-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .inner-menu ul li {
  margin-left: 25px;
}

.header .inner-icon {
  display: none;
}

.header .inner-menu ul li a {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
}

.header .inner-menu ul li a:hover {
  color: var(--color-two);
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-icon {
    display: block;
    font-size: 24px;
  }
}
/* End Header */

/* Section One */

.section-one {
  background-image: url(../images/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one .inner-wrap {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.section-one .inner-wrap .inner-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}

.section-one .inner-wrap .inner-desc {
  color: #fff;
  font-size: 15.8px;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .section-one .inner-wrap .inner-title {
    font-size: 22px;
  }

  .section-one .inner-wrap .inner-desc {
    color: #fff;
    font-size: 13px;
  }
}
/* End Section One */

/* Section Two */

.section-two {
  margin-top: -200px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.section-two .inner-box .inner-icon {
  background-color: var(--color-one);
  display: inline-flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
  transition: all 0.3s ease 0s;
}

.section-two .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-two .inner-box .inner-title {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 15px;
}

.section-two .inner-box .inner-desc {
  font-size: 14px;
  margin-bottom: 0;
}

.section-two .inner-box:hover .inner-icon {
  background-color: var(--color-two);
}

@media (max-width: 991.98px) {
  .section-two {
    margin-top: 0;
  }
}
/*End Section Two */

/* Section Three */

.section-three {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-three .inner-img {
  text-align: center;
}

.section-three .inner-img img {
  max-width: 100%;
  height: auto;
}

.section-three .inner-content .inner-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 500;
}

.section-three .tmp {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.section-three .inner-content .inner-desc {
  font-size: 15px;
  color: #777;
}

@media (max-width: 991.98px) {
  .section-three .inner-img {
    margin-bottom: 30px;
  }
}
/* End Section Three */

/* Section Four */

.section-four {
  background-image: url(../images/work-process-bg.png);
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: relative;
}

.section-four .box-head .inner-title,
.section-four .box-head .inner-desc {
  color: #fff;
}

.section-four .inner-box {
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.section-four .inner-box:hover {
  margin-top: -10px;
}

.section-four .inner-box::after {
  content: "";
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  left: 21px;
  top: 8px;
  opacity: 0.2;
  width: 150px;
  height: 193px;
}

.section-four .inner-box .inner-content {
  margin-top: 50px;
  position: relative;
}

.section-four .inner-box .inner-content::before {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../images/work-process-item-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-four .inner-box .inner-content .inner-title {
  font-size: 18px;
}

.section-four .inner-box .inner-content .inner-desc {
  font-size: 15px;
  max-width: 100px;
  margin: 0 auto;
  color: #777;
}

@media (max-width: 1199.98px) {
  .section-four .inner-box .inner-content .inner-desc {
    max-width: 90px;
  }

  .section-four .inner-box::after {
    left: 15px;
    top: 8px;
    width: 125px;
    height: 191px;
  }
}

@media (max-width: 991.98px) {
  .section-four .inner-box::after {
    left: 13px;
    top: 8px;
    width: 145px;
    height: 191px;
  }
}

@media (max-width: 767.98px) {
  .section-four .inner-box .inner-content .inner-desc {
    max-width: 200px;
  }

  .section-four .inner-box::after {
    left: 9px;
    top: 8px;
    width: 240px;
    height: 169px;
  }
}

@media (max-width: 575.98px) {
  .section-four .inner-box::after {
    left: 15px;
    height: 166px;
  }
}

@media (max-width: 564.98px) {
  .section-four .inner-box::after {
    left: 10px;
    height: 166px;
  }
}

@media (max-width: 552.98px) {
  .section-four .inner-box::after {
    left: 23px;
    width: 220px;
  }
}

@media (max-width: 533.98px) {
  .section-four .inner-box::after {
    left: 35px;
    width: 200px;
  }
}

@media (max-width: 514.98px) {
  .section-four .inner-box::after {
    left: 25px;
    width: 200px;
  }
}

@media (max-width: 488.98px) {
  .section-four .inner-box::after {
    left: 13px;
    width: 200px;
  }
}

@media (max-width: 461.98px) {
  .section-four .inner-box::after {
    left: 0px;
    width: 150px;
  }
}

@media (max-width: 350.98px) {
  .section-four .inner-box::after {
    width: 100px;
  }
}
/* End Section Four */

/* Section Five */

.section-five {
  padding: 120px 0;
}

.section-five .inner-desc {
  font-size: 16px;
}

.section-five .inner-box {
  padding: 30px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin-bottom: 30px;
}

.section-five .inner-content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-five .inner-content .inner-desc {
  max-width: 300px;
  margin: 0 auto;
  color: #777;
}

.section-five .inner-content .inner-in4 {
  text-align: center;
  transition: all 0.3s ease 0s;
}

.section-five .inner-content .inner-in4:hover {
  margin-left: 30px;
}

.section-five .inner-content .inner-name {
  margin-bottom: 0;
}

.section-five .inner-content .inner-job {
  margin-bottom: 0;
  color: var(--color-two);
}

@media (max-width: 1199.98px) {
  .section-five .inner-content .inner-desc {
    text-align: center;
    font-size: 14px;
  }
}
/* End Section Five */

/* Section Six */
.section-six {
  padding: 120px 0;
  background-color: #f2f2fe;
}

.section-six .inner-box {
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.section-six .inner-content .inner-title {
  font-size: 18px;
}

.section-six .inner-content .inner-price {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--color-one);
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-six .inner-content .price2 {
  background-color: var(--color-two);
}

.section-six .inner-content .inner-price .inner-desc,
.section-six .inner-content .inner-price .price {
  margin-bottom: 0;
  color: #fff;
}

.section-six .inner-content .inner-price .price {
  font-size: 25px;
  font-weight: 600;
}

.section-six .inner-content .inner-in4 {
  margin-bottom: 30px;
}

.section-six .inner-content .inner-in4 .inner-details {
  margin-bottom: 5px;
  font-size: 13px;
  color: #777;
}

/* End Section Six */

/* Section-Seven */

.section-seven {
  background-image: url(../images/fun-facts-bg.png);
  background-repeat: no-repeat;
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}

.section-seven .inner-box {
  position: relative;
}

.section-seven .inner-box::before {
  content: "";
  display: block;
  background-image: url(../images/circle-dec.png);
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 17%;
  top: 45%;
}

.section-seven .inner-content {
  color: #fff;
  margin-bottom: 30px;
}

.section-seven .inner-content .inner-number {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-seven .inner-box::before {
    display: none;
  }

  .section-seven .center {
    text-align: center;
  }
}
/* End Section-Seven */

/* Section Eight */

.section-eight .inner-img {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: 15px;
}

.section-eight .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-eight .inner-box .inner-content {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
}

.section-eight .inner-content .inner-title a {
  font-size: 18px;
  color: #1e1e1e;
}

.section-eight .inner-content .inner-desc {
  font-size: 13px;
  color: #777;
}

@media (max-width: 767.98px) {
  .section-eight .inner-img {
    max-width: 370px;
    margin: 0 auto;
  }
}
/* End Section Eight */

/* Section Nine */

.section-nine {
  padding: 120px 0;
  background-color: #f2f2fe;
}

.section-nine .inner-content .inner-title {
  font-size: 18px;
}

.section-nine .inner-content .inner-desc {
  font-size: 16px;
  color: #6f8ba4;
}

.section-nine .inner-form input,
.section-nine .inner-form textarea {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
}

.section-nine .inner-form input:focus,
.section-nine .inner-form textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.section-nine .inner-form input {
  height: 50px;
}

.section-nine .inner-form textarea {
  height: 150px;
}
/* End Section Nine */

/* Footer */
.footer {
  padding: 40px 0;
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

.footer .tam {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ac7be1;
}

.footer .inner-social ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer .inner-social ul li a {
  margin-right: 15px;
  color: var(--color-one);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.footer .inner-social ul li a:hover {
  background-color: var(--color-two);
  color: #fff;
}

.footer .end {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
/* End Footer */
